@using RoofSharing.Web.Infrastructure.Extensions

@model RoofSharing.Web.ViewModels.Trip.PublicTripUserCardViewModel

<div class="row border-shadow margin-btm-md padding-right">

    <div class="col-md-2">
        @Html.FacebookImage(Model.PictureUrl, "Profile Picture", null, 100, 100)
    </div>
    <div class="com-md-9">
        <div class="pull-right text-info">
            <h3>@Model.TravellersCount Travelers </h3>
            <p><i class="fa fa-calendar"></i> From @Model.StartDate.ToString("dd MMMM yyy")</p>
            <p><i class="fa fa-calendar-o"></i> To @Model.EndDate.ToString("dd MMMM yyy")</p>
        </div>
        <h2 class="text-info">@Html.ActionLink(Model.Names, "Index", "Profile", new { area = "", userId = Model.HostId }, new { @class = "text-info" })</h2>

        <div>
            <i class="fa fa-suitcase"></i> Visiting @Html.DisplayFor(model => model.EndPoint)
        </div>
        <div>
            <i class="fa fa-map-marker"></i> From @Html.DisplayFor(model => model.StartPoint)
        </div>
        <em> @Html.DisplayFor(model => model.Description)</em>
        <div class="pull-right">
            @using (Html.BeginForm("Join", "Trip", new { area = string.Empty }, FormMethod.Get, null))
            {
                <input type="hidden" name="userId" value="@Model.HostId" />
                <input type="submit" value="Ask to Join" class="btn btn-lg btn-info" />
            }
        </div>
    </div>
</div>

