@using RoofSharing.Web.Infrastructure.Extensions

@model RoofSharing.Web.ViewModels.Trip.PublicTripUserCardViewModel

<div class="row border-shadow margin-btm-md padding-right">

    <div class="col-md-2">
        @Html.FacebookImage(Model.PictureUrl, "Profile Picture", null, 100, 100)
    </div>
    <div class="com-md-9">
        <h2 class="pull-right text-info">@Model.Id -Placeholder-</h2>
        <h2 class="text-info">@Html.ActionLink(Model.Names, "Index", "Profile", new { area = "", userId = Model.HostId }, new { @class = "text-info" })</h2>
        
        <div>
            <i class="fa fa-suitcase"></i> Visiting @Html.DisplayFor(model => model.EndPoint)
        </div>
        <div>
            <i class="fa fa-map-marker"></i> From @Html.DisplayFor(model => model.StartPoint)
        </div>
        <em> @Html.DisplayFor(model => model.Description)</em>
        <div class="pull-right">
            @if (User.Identity.IsAuthenticated)
            {
                Html.RenderAction("FriendPartial", "Friends", new
                {
                    area = string.Empty,
                    userId = Model.HostId
                });
            }
        </div>
        <div class="pull-right">
            @using (Html.BeginForm("Invite", "Host", new { area = string.Empty }, FormMethod.Get, null))
            {
                            <input type="hidden" name="userId" value="@Model.HostId" />
                            <input type="submit" value="Offer to host them" class="btn btn-lg btn-black" />
            }
        </div>
    </div>
</div>

