@model IEnumerable<RoofSharing.Web.ViewModels.Host.HostInviteViewModel>

@{
    ViewBag.Title = "Invites";
}

<h2>Invites</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HostNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfCompanions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HostNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfCompanions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @{
                        using (Html.BeginForm("Approve", "Host"))
                        {
                        }
                    }
                </td>
            </tr>
    }
    
</table>
