@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Review Your Profile Info</h2>
<div class="tabs-section">

    <ul class="nav nav-tabs">
        <li> @Html.ActionLink("Home", "Index", "Profile", new { area = "Profile" }, new { @class = "" })</li>
        <li>@Html.ActionLink("Location", "Update", "Location", new { area = "Profile" }, new { data_toggle = "tabajax", data_target = "#Location-tab" })</li>
        <li>@Html.ActionLink("Housing", "Update", "Housing", new { area = "Profile" }, new { data_toggle = "tabajax", data_target = "#Housing-tab" })</li>
        <li>@Html.ActionLink("Personality", "Update", "Personality", new { area = "Profile" }, new { data_toggle = "tabajax", data_target = "#Personality-tab" })</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade" id="Location-tab"></div>
        <div class="tab-pane fade" id="Housing-tab"></div>
        <div class="tab-pane fade" id="Personality-tab"></div>
    </div>
    @RenderBody()
</div>
@section Scripts{
    <script>
        $('[data-toggle="tabajax"]').click(function (e) {
            var $this = $(this),
                loadurl = $this.attr('href'),
                targ = $this.attr('data-target');

            $.get(loadurl, function (data) {
                $(targ).html(data);
            });

            $this.tab('show');
            return false;
        });
    </script>
    @RenderSection("scripts", required: false)
}