@model RoofSharing.Web.ViewModels.Profile.HousingViewModel

<div>
    <h4>Housing Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsSmokingAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSmokingAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArePetsAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArePetsAllowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HavePets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HavePets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreRoomsShared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreRoomsShared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelChairAccessible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelChairAccessible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAvailableBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfAvailableBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>

    </dl>
</div>
