<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title -RoofSharing</title>
        @Styles.Render("~/Content/css-theme")

        @*For some reason Kendo Styles cannot be used in a bundle*@
        <link href="@Url.Content("~/Content/kendo/2014.2.1008/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2014.2.1008/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />

        @Styles.Render()
        @RenderSection("styles", required: false)

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/signalR")
        @Scripts.Render("~/bundles/kendo-scripts")
        <script src="~/signalr/hubs"></script>
        <script src="/Scripts/custom.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

        <meta name="description" content="Roof sharing" />
    </head>
    <body>
        <div id="container" class="boxed-page">
            <header></header>
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Roof Sharing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                            <li class="drop">
                                @Html.ActionLink("Profile", "Index", "Profile", new { area = "" }, null)
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Profile", "Index", "Profile", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Update", "Update", "Profile", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li class="drop">
                                @Html.ActionLink("Trips", "Browse", "Trips", new { area = "" }, null)
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Browse Trips", "Browse", "Trips", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Create Trip", "Create", "Trips", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>
                                <div class=" widget-search">
                                    @using (Html.BeginForm("Browse", "Host", new { area = "" }, FormMethod.Get, null))
                                    {
                                        <input type="hidden" name="city" id="city" />
                                        <input type="search" id="location" placeholder="Where would you like to go?">
                                        <button class="search-btn" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    }
                                </div>
                            </li>
                            @if (User.IsInRole(RoofSharing.Common.GlobalConstants.AdminRoleName))
                            {
                                                            <li>@Html.ActionLink("Admin", "Index", "AdminHome", new { area = "Administration" }, null)</li>
                            }
                        </ul>
                        
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content ">
                @if (TempData[RoofSharing.Common.GlobalConstants.ErrorMessage] != null)
                {
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        @TempData[RoofSharing.Common.GlobalConstants.ErrorMessage]
                                    </div>
                }
                @if (TempData[RoofSharing.Common.GlobalConstants.SuccessMessage] != null)
                {
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        @TempData[RoofSharing.Common.GlobalConstants.SuccessMessage]
                                    </div>
                }
                @RenderBody()
                
            </div>
            
            <footer>
                <div class="container">
                    <div class="row footer-widgets">
                    
                        <!-- Start Subscribe & Social Links Widget -->
                        <div class="col-md-3">
                            <div class="footer-widget mail-subscribe-widget">
                                <h4>
                                    Get in touch<span class="head-line"></span>
                                </h4>
                                <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
                                <form class="subscribe">
                                    <input type="text" placeholder="mail@example.com">
                                    <input type="submit" class="main-button" value="Send">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-widget social-widget">
                                <h4>
                                    Follow Us<span class="head-line"></span>
                                </h4>
                                <ul class="social-icons">
                                    <li>
                                        <a class="facebook" href="http://www.facebook.com">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="http://www.twitter.com">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="google" href="http://www.plus.google.com">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkdin" href="http://www.linkedin.com">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a class="skype" href="http://www.skype.com">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-widget contact-widget">
                                <h4>
                                    RoofSharing
                                </h4>
                                <p>Share your home</p>
                                <ul>
                                    <li>
                                        <span>Phone Number:</span> +359 885 567 890
                                    </li>
                                    <li>
                                        <span>Email:</span> bugsancho@gmail.com
                                    </li>
                                    <li>
                                        <span>Website:</span> www.roofsharing.apphb.com
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .col-md-3 -->
                        <!-- End Contact Widget -->
                        
                    </div> <!-- .row -->
                    <!-- Start Copyright -->
                    <div class="copyright-section">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    &copy; 2014 Roofsharing - All Rights Reserved
                                    <a href="http://github.com/bugsancho">Bugsancho (Alexander Todorov)</a>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Copyright -->
                    
                </div>
            </footer>
            
        </div>
        
        <div id="loader">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
        
        @Scripts.Render("~/bundles/bootstrap-theme")
        <script>
            $(getGoogleAutocomplete('location', '#city'));    
        </script>
        @RenderSection("scripts", required: false)
        
    </body>
    
</html>
